/*-- scss:defaults --*/

// fonts
@import "https://fonts.googleapis.com/css?family=Fira+Sans";
@import "https://fonts.googleapis.com/css?family=Fira+Code";
@import "https://fonts.googleapis.com/css?family=Montserrat";

$font-family-sans-serif: "Fira Sans", serif;
$presentation-heading-font: "Montserrat", sans-serif;
$font-weight: 350;

// colors
$style1: #579D90;
$style2: #55AB6B;
$style3: #558CAB;
$white: #F7F7F7;
$gray: #F4F4F4;
$gray2: #C4C4C4;
$gray3: #ebebeb;
$darkgray: #5A5A5A;
$darkgray2: #1C1C1C;
$black: #272822;
$blue: #5563AB;
$red: #D15E65;
$purple: #EB98EB;
$yellow: #EBB46A;

$navbar-bg: $style1;
$navbar-fg: $gray;

$link-color: $blue;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
.card-header {
  background-color: $style3;
  color: $gray;
}

.nav-item > a:hover {
  color: $darkgray;
}

.nav-link{
  color: $gray;
}

.navbar .navbar-nav .active {
  background-color: lighten($style1, 20%)!important;
  color: $darkgray;
}

div.callout-note.callout {
  border-left-color: #0e2635;
}

div.callout-note.callout-style-default>.callout-header {
  background-color: #9ea8ae;
}