/******* Color variables **********/
:root {
  /* --brand-style1: #579D90;
  --style2: #55AB6B;
  --brand-style3: #558CAB;
  --brand-style4: #C7EBE4; */
  /* --brand-red: 157, 87, 100;
  --white: #FFFFFF; */
  /* --white2: #F7F7F7; */
  /* --brand-gray2: #edeeed; /*#eaebea;*/
  /*--brand-gray3: #F4F4F4;
  --blue: #5563AB;
  --black: #272822;
  --brand-darkgray: #5A5A5A;
  --brand-red: #A94459; */
  /* --code-bg-gray: #f8f8f8; */
  /* --code-bg2-gray: var(--brand-gray3); */
  /* --code-bg-inline: #D8D8D8;
  --search-match-current-background: rgba(157, 109, 87, 0.5);
  --search-match-background: rgba(157, 109, 87, 0.2); */
  --mermaid-edge-color: var(--style3); /* text */
  --mermaid-node-fg-color: var(--style3);
  --mermaid-label-bg-color: var(--style4);
  --mermaid-label-fg-color: var(--style3);
  /* --mermaid-bg-color: var(--white); */
  /* --mermaid-fg-color: var(--red); */
  /* --mermaid-fg-color--lighter: var(--white); */
  /* --mermaid-fg-color--lightest: #{$mermaid-fg-color--lightest}; */
  /* --mermaid-font-family: #{$mermaid-font-family}; */
  /* --mermaid-node-bg-color: var(--red); */
}


.navbar-dark {
background-color: var(--brand-style1);
}

.navbar-light {
background-color: var(--brand-style1);
}

.navbar-title {
  color: var(--brand-gray3) !important;
}

.nav-link .fa, .nav-link .fas, .nav-link .far, .nav-link .fal, .nav-link .fad, .nav-link .fab, .nav-link .ai, .nav-link .fa-solid, .nav-link .fa-brands, .navbar svg {
  color: var(--brand-gray3) !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: var(--brand-style4) !important;
}

.navbar-dark .navbar-nav .nav-link .fa:hover, .navbar-dark .navbar-nav .nav-link .fa:focus, .navbar-dark .navbar-nav .nav-link .fas:hover, .navbar-dark .navbar-nav .nav-link .fas:focus, .navbar-dark .navbar-nav .nav-link .far:hover, .navbar-dark .navbar-nav .nav-link .far:focus, .navbar-dark .navbar-nav .nav-link .fal:hover, .navbar-dark .navbar-nav .nav-link .fal:focus, .navbar-dark .navbar-nav .nav-link .fad:hover, .navbar-dark .navbar-nav .nav-link .fad:focus, .navbar-dark .navbar-nav .nav-link .fab:hover, .navbar-dark .navbar-nav .nav-link .fab:focus, .navbar-dark .navbar-nav .nav-link .ai:hover, .navbar-dark .navbar-nav .nav-link .ai:focus, .navbar-dark .navbar-nav .nav-link .fa-solid:hover, .navbar-dark .navbar-nav .nav-link .fa-solid:focus, .navbar-dark .navbar-nav .nav-link .fa-brands:hover, .navbar-dark .navbar-nav .nav-link .fa-brands:focus, .navbar-dark .navbar-nav .nav-link svg:hover, .navbar-dark .navbar-nav .nav-link svg:focus {
  color: var(--brand-style4) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--brand-gray3) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--brand-gray3) !important;
}

.quarto-title-banner {
  background-color: var(--brand-darkgray);
  color: var(--brand-gray3);
}

.quarto-title .quarto-categories .quarto-category a {
  color: var(--brand-darkgray) !important;
}

.quarto-category {
  background-color: var(--brand-gray)!important;
}

.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  background-color: var(--brand-style4) !important;
  color: var(--brand-darkgray) !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  color: var(--brand-style1) !important;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  border-left: 2px solid var(--brand-style1) !important;
}

pre code {
 background-color: var(--brand-gray3)!important;
 border: 1px solid var(--brand-darkgray) !important;
}

code {
  color: var(--brand-darkgray)!important;
  background-color: var(--brand-gray3)!important;
  border: 0.1px solid var(--brand-darkgray) !important;
  line-height: 1.7rem;
}

.nav-footer {
  color: var(--brand-gray)!important;
  background-color: var(--brand-darkgray)!important;
}

.nav-footer a{
  color: var(--brand-gray)!important;
}

.content a {
  color: var(--brand-style1);
}

.content a:hover {
  color: var(--brand-style3);
}


.social-share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -1em;
}

.social-share a {
  border-radius: 25px;
  padding: 0.15rem 0.25rem;
  background: white;
  border: 1px solid transparent;
  transition: background ease 0.3s, color ease 0.3s;
  margin-bottom: 0em;
  margin-left: 0.5em;
  text-decoration: none;
}

.social-share a:before {
  display: none;
}

.social-share a.facebook {
  border-color: #4267B2;
    color: #4267B2;
}

.social-share a.facebook:hover {
  background: #4267B2;
    color: white;
}

.social-share a.twitter-old {
  border-color: #1DA1F2;
    color: #1DA1F2;
}

.social-share a.twitter-old:hover {
  background: #1DA1F2;
    color: white;
}

.social-share a.twitter {
  border-color: #000000;
    color: #000000;
}

.social-share a.twitter:hover {
  background: #000000;
    color: white;
}

.social-share a.tumblr {
  border-color: #35465C;
    color: #35465C;
}
.social-share a.tumblr:hover {
  background: #35465C;
    color: white;
}

.social-share a.linkedin {
  border-color: #2867B2;
    color: #2867B2;
}

.social-share a.linkedin:hover {
  background: #2867B2;
    color: white;
}

.social-share a.email {
  border-color: var(--brand-red);
  color: var(--brand-red);
}

.social-share a.email:hover {
  background: var(--brand-red);
    color: white;
}

.social-share a.mastodon {
  border-color: #6364FF;
    color: #6364FF;
}

.social-share a.mastodon:hover {
  background: #6364FF;
    color: white;
}

.social-share a.bmc {
  border-color: #c99a18;
  color: #c99a18;
}

.social-share a.bmc:hover {
  background: #c99a18;
  color: white;
}

.social-share a.whatsapp {
  border-color: #25D366;
  color: #25D366;
}

.social-share a.whatsapp:hover {
  background: #25D366;
  color: white;
}

.social-share a.bsky {
  border-color: #0076ff;
  color: #0076ff;
}

.social-share a.bsky:hover {
  background: #0076ff;
  color: white;
}

pre.sourceCode {
  padding: 0em;
}

/******* Social media class ********/
.social a.email {
	 color: #558cab !important;
	 background-color: var(--brand-white) !important;
	 border-color: #558cab !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.email:hover {
	 background: #558cab !important;
	 color: white !important;
}

.social a.website {
	 color: #558cab !important;
	 background-color: var(--brand-white) !important;
	 border-color: #558cab !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.website:hover {
	 background: #558cab !important;
	 color: white !important;
}

.social a.twitter-old {
	 color: #1da1f2 !important;
	 background-color: var(--brand-white) !important;
	 border-color: #1da1f2 !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.twitter-old:hover {
	 background: #1da1f2 !important;
	 color: white !important;
}

.social a.twitter {
	 color: #000 !important;
	 background-color: var(--brand-white) !important;
	 border-color: #000 !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.twitter:hover {
	 background: #000 !important;
	 color: white !important;
}

.social a.mastodon {
	 color: #6364ff !important;
	 background-color: var(--brand-white) !important;
	 border-color: #6364ff !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.mastodon:hover {
	 background: #6364ff !important;
	 color: white !important;
}

.social a.bluesky {
	 color: #4985ce !important;
	 background-color: var(--brand-white) !important;
	 border-color: #4985ce !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.bluesky:hover {
	 background: #4985ce !important;
	 color: white !important;
}

.social a.researchgate {
	 color: #00CCBB !important;
	 background-color: var(--brand-white) !important;
	 border-color: #00CCBB !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.researchgate:hover {
	 background: #00CCBB !important;
	 color: white !important;
}

.social a.lattes {
	 color: #538CC6 !important;
	 background-color: var(--brand-white) !important;
	 border-color: #538CC6 !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.lattes:hover {
	 background: #538CC6 !important;
	 color: white !important;
}

.social a.orcid {
	 color: #A6CE39 !important;
	 background-color: var(--brand-white) !important;
	 border-color: #A6CE39 !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.orcid:hover {
	 background: #a6ce39 !important;
	 color: white !important;
}

.social a.gitlab {
	 color: #fc6d27 !important;
	 background-color: var(--brand-white) !important;
	 border-color: #fc6d27 !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.gitlab:hover {
	 background: #fc6d27 !important;
	 color: white !important;
}

.social a.github {
	 color: black !important;
	 background-color: var(--brand-white) !important;
	 border-color: black !important;
	 border-radius: 25px;
	 padding: 0.15rem 0.4rem;
	 background: white;
	 border: 2px solid transparent;
	 transition: background ease 0.3s, color ease 0.3s;
	 margin-bottom: 0em;
	 text-decoration: none;
}

.social a.github:hover {
	 background: black !important;
	 color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  /* font-weight: bold; */
  line-height: 1.2;
  color: var(--bs-heading-color);
}
