exportPattern("^[[:alpha:]]+")
importFrom("devtools", "install_github")
importFrom("utils", "install.packages")
importFrom("bayesplot", "mcmc_acf")
importFrom("bayesplot", "mcmc_combo")
importFrom("bayesplot", "color_scheme_set")
importFrom("bayesplot", "pp_check")
importFrom("cowplot", "ggsave2")
importFrom("BayesPostEst", "mcmcReg")
importFrom("ggcorrplot", "ggcorrplot")
importFrom("ggdist", "stat_halfeye")
importFrom("ggdist", "mean_qi")
importFrom("scales", "alpha")
importFrom("gghalves", "geom_half_point")
importFrom("beyonce", "beyonce_palette")
importFrom("dplyr", "vars")
importFrom("grid", "unit")
importFrom("xtable", "xtable")
import("tidyverse")
import("stringr")
import("tibble")
import("brms")
import("loo")
import("bayestestR")
